.title{
    text-align: center;
}
h1{
    color: brown;
    background-color: dimgray;
}
.text{
    font-size: 36px;
    background-color: darksalmon;
}
.text1 {
    font-size: 36px;
    background-color: deeppink;
}
.text2 {
    font-size: 36px;
    background-color: indigo;
}
.text3{
    font-style: italic;
    background-color: black;
    color: beige;
}